.navigate-push-enter {
  opacity: 0;
}

.navigate-push-enter-active {
  opacity: 1;
  transition: opacity 200ms ease;

  box-shadow: -5px 0px 25px rgba(0, 0, 0, 0.05);
}

.navigate-push-exit {
  /* opacity: 1; */
}

.navigate-push-exit-active {
  /* opacity: 0;
  transition: opacity 200ms ease; */
}

.transition-wrapper {
  position: relative;
  width: 100vw;
}